@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body,
html {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #181926;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	outline: none;
	background: none;
	box-sizing: border-box;

	font-family: Inter;
}

h1 {
	font-weight: 500;
	font-size: 2.5em;
}

b {
	font-weight: 600;
}

strong {
	font-weight: 700;
}

p,
span,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
input,
footer {
	color: #cad3f5;
}

button {
	font-weight: 500;
	cursor: pointer;
	transition: all 200ms ease;
}

input {
	padding: 0.5em;
	border-radius: 14px;
	border: 1px solid currentColor;
}

input:focus {
	border-color: #c6a0f6;
}

footer {
	text-align: center;
	padding: 1em;
	border-top: 1px solid #363a4f;
	background-color: #24273a;
}
